@import "node_modules/font-awesome/scss/font-awesome.scss";

.dropdown-item:active{
  background: lightgrey;
}

.lf-back{
  height: 100vh;
  width: 75vw;
  position: fixed;
  z-index: 0;
  top: 0;
  background: #343a40;
  margin-left: 12.5vw;
  border-left:black solid 5px;
  border-right:black solid 5px;
  transition: .2s ease;
}

@media (max-width:1465px){
  .lf-back{
    width: 80vw;
    margin-left: 10vw;
  }
}
@media (max-width:1375px){
  .lf-back{
    width: 85vw;
    margin-left: 7.5vw;
  }
}

@media (max-width:1300px){
  .lf-back{
    width: 90vw;
    margin-left: 5vw;
  }
}

@media (max-width:1100px){
  .lf-back{
    width: 100vw;
    margin-left: 0vw;
    border: none;
  }
}

.lg-card{
  background: #fafafa;
  border-radius: 15px;
  padding: 10px;
  border: 3px black solid;
}

#app{
  margin-top: 180px; 
}

body {
  background: #fafafa;
}

a{
  color: black;
}

.btn{
  margin: 3px;
}

a:hover{
  text-decoration: none;
  color:#fafafa;
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.blog-post-meta {
  margin-bottom: 0px;
  color: #999;
}

.filter-module {
  padding: 15px;
  position: fixed;
}
.filter-module-inset {
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 15px;
}
.filter-module-inset p:last-child,
.filter-module-inset ul:last-child,
.filter-module-inset ol:last-child {
  margin-bottom: 0;
}

.fl-page {
  position: relative;
  min-height: 87vh;
  padding-bottom: 55px; /* Should be equal to the height of your footer */
}
.fl-page-footer-wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: gray;
}

@media (max-width:767px){
  .fl-page{
    padding-bottom: 85px;
  }
}

#top-logo{
    background: url(/images/logo_disi.png) 50% 0 no-repeat !important;
    width: 396px;
    height: 77px;   
    display: block;
    margin: 0 25px;
}

.top-container{
  padding: 15px 0;
  display: flex;
  height: 107px;  
  width: 100%;
  position: fixed;
  top:0;
  background: white;
  z-index: 10;
}

